html {
    font-family: 'roboto', sans-serif !important;
    font-size: 1.1em;
}

button {
    font-family: 'roboto', sans-serif !important;
    font-size: 0.9em;
}

button {
    border: none;
    padding: 8px 20px;
    border-radius: 50px;

    font-weight: 600;
    color: #0e9ada;
    background-color: #bee3f9;

    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;

    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;

}

button:focus,
button:hover {
    background-color: #2fb1d2;
    color: #e0efff;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}