html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main {
    flex: 1;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 20px;
}

.current-events-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 20px; */
    gap: 4em;
}










.card-container{
    margin: 0;
}

#container {
    max-width: 300px;
    /* height: 530px; */
    /* Center the container in middle on horizontal axis */
    margin: 0 auto;
    /* Add empty space above the container (20% of the view height) */
    /* margin-top: 20vh; */
}

.card {
    /* height: 525px; */
    /* Change background color */
    background-color: white;
  
    /* Add border */
    border: 1px solid #bacdd8;
  
    /* Add space between the border and the content */
    padding: 8px;
  
    border-radius: 12px;
}

/* Style div elements that have class equal to tag */
.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
}

/* Style div elements that have class equal to name */
.name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    height: 72px;
    text-align: center;
}

/* Style p element */
.card__details p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
    text-align: center;
}

/* Style button element */
button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;

    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;

    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;

}

.card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
}

/* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}


