* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid #bacdd8;
    border-radius: 12px; */
    margin: 2em;
    padding: 1em;;
}

main > * {
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 1em;
}

#welcome-text {
    font-size: 1.4em;
    font-weight: 500;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#instruction-text {
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid #bacdd8;
    padding-bottom: 1.5em;
}


/* ------------------- tab ------------------- */
.tab_css {
    display:flex;
    flex-wrap:wrap;
    justify-content:
    center;
}

.tab_css input {
    display:none
}

.tab_css label {
    margin: 0 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #bacdd8;
    color: #fff;
    opacity: 0.5;
}

.tab_content {
    order:1;
    display: none;
    width:100%;
    border-bottom: 3px solid #ddd;
    line-height: 1.6;
    font-size: .9em;
    padding: 15px;
    border: 1px solid #bacdd8;
    border-radius: 12px;
    margin: 1em;
}

.tab_css input:checked + label, .tab_css label:hover {
    opacity: 1;
    font-weight:bold;
}

.tab_css input:checked + label + .tab_content {
    display: initial;
}







#current-listing-text {
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
}

table {
    text-align: center;
    padding: 1em;
    table-layout: fixed;
}

table > *{
    text-align: center;
    padding: 1.2em;
}

table thead th {
    border-bottom: 1px solid #bacdd8;
}

#user_listings_tb_tbody tr:hover {
    background-color: #ceeefc;
    /* cursor: pointer; */
}

#listings_tb_tbody tr:hover {
    background-color: #a8daef;
    cursor: pointer;
}

/* table tbody tr td {
    padding: 1.2em;
} */

.listing-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid #bacdd8;
    border-radius: 12px; */
    padding: 1em;
}

#selected-listing-text {
    border-bottom: 1px solid #bacdd8;
    padding: 0.5em;
}

.summary-div {
    padding: 0.5em;
}

.summary-div > * {
    margin: 0.3em;
}

/* .listing-selection-container > * {
    padding: 0.5em;
} */


