html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    /* margin-top: 4em; */
    margin-bottom: 4em;
    flex: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#message-text {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;

}

.message-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em;
    padding: 1em;

    border: 1px solid #bacdd8;
    border-radius: 12px;
}

.message-box > * {
    padding: 1em;
}

#msg-source-div {
    border-right: 1px solid #bacdd8;
}

#msg-date-div {
    border-right: 1px solid #bacdd8;
}
