a {
    text-decoration: none;
}

.main-container-s1 {
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 2em;
    row-gap: 2em;
    margin-top: 2em;
}

.main-container-s2 {
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 2em;
    row-gap: 2em;
    margin-top: 1em;
}

#searched-image img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

.search-results-events-container {
    /* display: flex; */
}

.searched-event-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
}

.searched-event-card-title-plus-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-evenly;

}

.searched-card-item {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;

    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;

    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;

}

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

#searched-image {
    width: 50%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

