.background-div::after {
    content: "";
    background: url("https://img.freepik.com/free-photo/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space_637285-568.jpg?t=st=1656164943~exp=1656165543~hmac=8e28babea4926fb4c36e6e77ad9bc55d8c35ba25816de7d724048d8c04ba0e45&w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

main {
    /* margin: 0 auto;
    width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    height: 100vh;

}

.main-container {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    height: fit-content;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    background-color: white;

}
h3 {
    text-align: center;
    margin-bottom: 0;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 1.5em;
}

.input-container input {
    font-size: 1em;
}

label {
    font-size: .85rem;
    text-transform: uppercase;
    color: rgb(144, 144, 144);
}

.form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: rgb(144, 144, 144);
}

[type="text"] {color: rgb(144, 144, 144);}
[type="password"] {color: rgb(144, 144, 144);}

.form-control{
    /* border: none; */
    outline:none;
}
.form-control:active{
    border: none;
    outline:none;
}

#submit-btn {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
#submit-btn:focus,
#submit-btn:hover {
background-color: #0077ff;
color: #e0efff;
}


.twinPageBtn-container {
    margin: 0 auto;
    width: 400px;
    padding: 1em;

}

#toTwinPage-text {
    border-radius: 50px;
    cursor: pointer;
    color: rgb(216, 216, 216);
    padding: 1em;
    width: fit-content;
}

#toTwinPage-text:focus,
#toTwinPage-text:hover {
  background-color: #0077ff;
  color: #e0efff;
}