* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #bacdd8;
    border-radius: 12px;
    margin: 2em;
    /* padding: 1em; */
}

main > * {
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-container > * {
    flex: 1;
}

.tix-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.tix-form > * {
    padding: 0.5em;
}

.choice-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;

    /* border-bottom: 1px solid #bacdd8; */
}

.choice-1-container > * {
    padding: 0.5em;
}

.choice-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5em;
    
    /* border-bottom: 1px solid #bacdd8; */
}

.choice-2-container > * {
    padding: 0.5em;
}

#choice-container-title {
    font-size: 1.1em;
    font-weight: 500;
}

#ticket-type-label {
    margin-top: 1em;
}

.condition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color:#e4ecf1;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.condition-container > * {
    padding: 0.2em;
}

#condition-summary-text {
    border-bottom: 1px solid #bacdd8;
    font-size: 1.1em;
    font-weight: 500;
}

.selected-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#selected-event-condition-container,
#selected-ticket-type-condition-container {
    align-items: left;
    margin: 0.2em;
}


#event-btn {
    border: none;
    padding: 8px 20px;
    border-radius: 50px;

    font-weight: 600;
    color: #0e9ada;
    background-color: #bee3f9;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    width: fit-content;
    margin-top: 0.5em;
    font-size: 0.9em;
}
#event-btn:focus,
#event-btn:hover {
    background-color: #2fb1d2;
    color: #e0efff;
}

#post-btn {
    padding: 8px 20px;
    margin-top: 0.5em;
}