.ticket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
    row-gap: 1em;
    border: 1px solid #bacdd8;
    border-radius: 12px;
    padding: 1em;
}

#error-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#error-text {
    text-align: center;
}

