html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#verification-text {
    text-align: center;
    margin: 2em;
    font-size: 1.2em;
}

#verified-img {
    height: 200px;
    width: 200px;
}